a[aria-current="active"] {
    background-color: #2c2d33;
}

.current-menu-item a {
    background-color: #2c2d33;
}

a {
    text-decoration: none !important;
}

.button{
    padding: 12px 18px;
}

.col-ssr{
   color: #d7bc57;
}

.text-ssr{
    text-decoration-color: #f7d882;;
}

.bg-ssr{
    background-color: #d7bc57;
}

.yellow{
    color: #ffde7a;
    opacity: 100%;
}

.red {
    color: #ff5f5a;
    opacity: 100%;
}

.blue {
    color: #34d0ff;
    opacity: 100%;
}

.purple {
    color: #c956ff;
    opacity: 100%;
}

.green{
    color: #83ff72;
    opacity: 100%;
}

.bg-SSS{
    background-color: #ffff7f;
}
.bg-SS{
    background-color: #ff7f7f;
}
.bg-S{
    background-color: #ffff7f;
}
.bg-A{
    background-color: #ffff7f;
}
.bg-B{
    background-color: #ffff7f;
}
.bg-C{
    background-color: #ffff7f;
}
.bg-D{
    background-color: #bfff7f;
}
.bg-E{
    background-color: #ffff7f;
}
.bg-F{
    background-color: #ffff7f;
}

.hidden-sp{
    display: none;
    transition: 0.5s ease-in-out;
}

.icon-bg-SSR{
    background: linear-gradient(180deg,#885550,#c9a36a 53%);
}
.icon-bg-SR{
    background: linear-gradient(180deg,#343659,#4172b9 53%);
}
.icon-bg-R{
    background: linear-gradient(180deg,#885550,#c9a36a 53%);
}
.icon-bg-FI{
    background: linear-gradient(180deg,#2a7f86,#34b6c1 53%);
}