a[aria-current="active"] {
    background-color: #2c2d33;
}

.current-menu-item a {
    background-color: #2c2d33;
}

a {
    text-decoration: none !important;
}

.button{
    padding: 12px 18px;
}
.yellow{
    color: #ffde7a;
    opacity: 100%;
}
.red {
    color: #ff5f5a;
    opacity: 100%;
}

.blue {
    color: #34d0ff;
    opacity: 100%;
}

.purple {
    color: #c956ff;
    opacity: 100%;
}

.green{
    color: #83ff72;
    opacity: 100%;
}

.bg-SSS{
    background-color: #e04be0;
}
.bg-SS{
    background-color: #ef5350;
}
.bg-S{
    background-color: #ff7f7f;
}
.bg-A{
    background-color: #f9a2a2;
}
.bg-B{
    background-color: #ffbf7f;
}
.bg-C{
    background-color: #ffff7f;
}
.bg-D{
    background-color: #bfff7f;
}
.bg-E{
    background-color: #9df89d;
}
.bg-F{
    background-color: #76f8f8;
}

.hidden-sp{
    display: none;
    transition: 0.5s ease-in-out;
}

.icon-bg-SSR{
    background: linear-gradient(180deg,#885550,#c9a36a 53%);
    border-bottom-color: #c9a36a;
}
.SSR{
    color: #d7bc57;
    border-color: #d7bc57;
    text-decoration-color: #f7d882;
    fill: #d7bc57;
}
.text-SSR{
    text-decoration-color: #f7d882;
}
.SSR-bg{
    background-color: #d7bc57;
}



.icon-bg-SR{
    background: linear-gradient(180deg,#343659,#8a5fcc 53%);
    border-bottom-color: #8a5fcc;
}
.SR{
    color: #c97ef5;
    border-color: #c97ef5;
    text-decoration-color: #c97ef5;
    fill: #c956ff;
}
.SR-bg{
    background-color: #c97ef5;
}
.icon-bg-R{
    background: linear-gradient(180deg,#343659,#4172b9 53%);
    border-bottom-color: #4172b9;
}

.R{
    color: #2ca7ff;
    text-decoration-color: #2ca7ff;
    border-color: #2ca7ff;
    fill: #2ca7ff;
}
.R-bg{
    background-color: #2ca7ff;
}

.icon-bg-FI{
    background: linear-gradient(180deg,#2a7f86,#34b6c1 53%);
    border-bottom-color: #34b6c1;
}
.FI{
    color: #34b6c1;
    background-color: #34b6c1;
    border-color: #34b6c1;
}

.char-filter-btn-sec{
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition-property: all;
    transition-duration: 500ms;
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 7px;
    padding-bottom: 7px; 
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    border-left-width: 1px;
    border-left-color: #484950;
    border-right-width: 1px;
    border-right-color: #484950;
    background-color: #36373d;   
}
.char-filter-btn-sec:hover{
    background-color:#47484e ;
}

.active{
    color: white !important;
    background-color: #009eec !important;
}

.grid-auto-fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    row-gap: 10px;
    column-gap: 5px;
}

.just-bet{
    justify-content: space-between !important;
}